:root {
    --primary-color: #61c06e;
    --secondary-color: white;
    --accent-color-1: rgb(90, 86, 86);
}

body {
    background-color: var(--accent-color-1);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
    color: white;
}

h1 {
    font-size: 200%;
    color: var(--primary-color);
}

header {
    width 100%;
    text-align: center;

}

main {
    margin: 40px 0px 0px 0px;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.info-box {
    flex: 1 1 300px;
    border: 2px dotted var(--secondary-color);
    color: var(--accent);
    padding: 0 15px 15px;
    margin: 0 20px 40px;
}

.info-box h2 {
    color: var(--secondary-color);
    font-size: 150%;
    width: 90%;
    border: 2px solid #ffffff;
    border-radius: 5px;
    position: relative;
    top: -15px;
    margin: 0px 20px 0px 20px;
    background-color: gray;
    text-align: center;
}

.info-box-inside {
    color: var(--primary-color);
    font-size: 150%;
    width: 90%;
    border: 2px solid #ffffff;
    border-radius: 5px;
    position: relative;
    margin: 0px 20px 0px 20px;
    background: linear-gradient(180deg, #aaecb3, var(--primary-color));
}

pre {
    display:flex;
    color: var(--accent-color-1);   
    font-size: 90%;
    justify-content: flex-end;
}